* text=auto !eol
bin/end_park_positioners -text
bin/park_positioners -text
pecs/1p_calib.py -text
pecs/disambiguate_theta.py -text
pecs/dummy_rc_calib.py -text
pecs/end_park_positioners.py -text
pecs/expert_set_pos_vals.py -text
pecs/fp_recovery.py -text
pecs/fp_setup.py -text
pecs/fvc_measure.py -text
pecs/fvc_sim.py -text
pecs/get_calibrations.py -text
pecs/make_sequence.py -text
pecs/move_to_range.py -text
pecs/move_to_ranges.py -text
pecs/park_positioners.py -text
pecs/pecs.py -text
pecs/poscalibplot_from_df.py -text
pecs/recover_positioners.py -text
pecs/reset_pos_operation_state.py -text
pecs/run_sequence.py -text
pecs/seed_armlengths.py -text
pecs/seed_offsets_tp.py -text
pecs/seed_offsets_xy.py -text
pecs/sequence.py -text
pecs/sequence_generator.py -text
pecs/set_calibrations.py -text
pecs/set_calibrations_example_scale_factors.csv -text
pecs/simple_logger.py -text
pecs/update_posTP_from_measXY.py -text
pecs/xy_targets_generator.py -text
petal/anticollision_test_harness/convert_old_hw_move_targets.py -text
petal/anticollision_test_harness/generate_posparam_set_from_dbdata.py -text
petal/anticollision_test_harness/generate_posparam_sets.py -text
petal/anticollision_test_harness/generate_posparam_sets_from_posconfigs.py -text
petal/anticollision_test_harness/generate_request_sets.py -text
petal/anticollision_test_harness/generate_request_sets_for_posparams_set.py -text
petal/anticollision_test_harness/generate_request_sets_from_fiberassignment.py -text
petal/anticollision_test_harness/generate_requests_and_params_testing_all_uv_cmds.py -text
petal/anticollision_test_harness/harness.py -text
petal/anticollision_test_harness/harness_constants.py -text
petal/anticollision_test_harness/multiharness.py -text
petal/anticollision_test_harness/read_nominal_pos_locations.py -text
petal/anticollision_test_harness/select_anticol_test_group.py -text
petal/anticollision_test_harness/sequences.py -text
petal/anticollision_test_harness/stress_test_selector.py -text
petal/collision_lookup_generator.py -text
petal/collision_lookup_generator_subset.py -text
petal/focal_surface_lookup.csv -text
petal/generic_pos_neighbor_locs.csv -text
petal/petal.py -text
petal/petalcomm.py -text
petal/petaltransforms.py -text
petal/petsockcomm.py -text
petal/posanimator.py -text
petal/poscollider.pyx -text
petal/posconstants.py -text
petal/positioner_locations_0530v18.csv -text
petal/posmodel.py -text
petal/posmovetable.py -text
petal/posschedstats.py -text
petal/posschedule.py -text
petal/posschedulestage.py -text
petal/posstate.py -text
petal/postransforms.py -text
petal/replay.py -text
petal/setup.py -text
petal/xy2tp.py -text
posfidfvc/PFS_ID_Map.csv -text
posfidfvc/SBIG/SBIG_dev/51-sbig-debian.rules -text
posfidfvc/SBIG/SBIG_dev/arm/libsbigudrv.a -text
posfidfvc/SBIG/SBIG_dev/arm/libsbigudrv.so -text
posfidfvc/SBIG/SBIG_dev/lib32/libsbigudrv.so -text
posfidfvc/SBIG/SBIG_dev/lib64/libsbigudrv.so -text
posfidfvc/SBIG/SBIG_dev/sbigudrv.h -text
posfidfvc/SBIG/camtest.py -text
posfidfvc/SBIG/cool_cam.py -text
posfidfvc/SBIG/led_illuminator.py -text
posfidfvc/SBIG/led_test.py -text
posfidfvc/SBIG/measure_camera_scale.conf -text
posfidfvc/SBIG/measure_camera_scale.py -text
posfidfvc/SBIG/msgfitter.py -text
posfidfvc/SBIG/multicens.py -text
posfidfvc/SBIG/readme -text
posfidfvc/SBIG/sbig_grab_cen.py -text
posfidfvc/SBIG/sbig_util.py -text
posfidfvc/SBIG/sbigcam.py -text
posfidfvc/SBIG/showimage -text
posfidfvc/SBIG/spotfit.py -text
posfidfvc/SBIG/stf.py -text
posfidfvc/SBIG/stxl.py -text
posfidfvc/SBIG/usbreset.c -text
posfidfvc/SBIG/usbreset.py -text
posfidfvc/calibrate_FVC.py -text
posfidfvc/calibrate_cleanroom_FVC.py -text
posfidfvc/check_pos_move.py -text
posfidfvc/derive_platemaker_pars.py -text
posfidfvc/enable_all.py -text
posfidfvc/fitcircle.py -text
posfidfvc/fvchandler.py -text
posfidfvc/generate_platemaker_pars.py -text
posfidfvc/initialize_hwsetup.py -text
posfidfvc/initialize_hwsetup_desi.py -text
posfidfvc/instrmaker.py -text
posfidfvc/mightex/19-mightex_udev.rules -text
posfidfvc/mightex/Makefile -text
posfidfvc/mightex/README.txt -text
posfidfvc/mightex/mightex.py -text
posfidfvc/mightex/mightex_cmd -text
posfidfvc/mightex/mightex_cmd.c -text
posfidfvc/mightex/mightex_cmd.help.txt -text
posfidfvc/mightex/mightex_test.py -text
posfidfvc/poscalibplot.py -text
posfidfvc/posmovemeasure.py -text
posfidfvc/set_fiducials.py -text
posfidfvc/start_a_petal.py -text
/readme.txt -text
ups/plate_control.table -text
xytest/desi_logo.gif -text
xytest/fiber_test_gui.py -text
xytest/frd_test_gui.py -text
xytest/get_simulated_posids.py -text
xytest/grader.py -text
xytest/loadpetal.py -text
xytest/movegui.py -text
xytest/movegui_expert.py -text
xytest/movegui_nogoogle.py -text
xytest/movegui_petal.py -text
xytest/movegui_petal_show.py -text
xytest/movegui_temp.py -text
xytest/petal_move_test.py -text
xytest/pos_xytest_plot.py -text
xytest/posblast.py -text
xytest/posdance.py -text
xytest/sendalarm.py -text
xytest/start_a_petal.py -text
xytest/summarizer.py -text
xytest/um_test_report.py -text
xytest/watcher.py -text
xytest/xytest.py -text
xytest/xytest_anticollision.py -text
xytest/xytest_result_gui.py -text
