#
# H+
#	Title:		19-mightex_udev.rules
#	Author:		cad
#	Date:		03/10/2017
#	Synopsis:	Makes Mightex devices readable/writeable by everyone
#	Instructions:	Put this file in "/etc/udev/rules.d"
#			It is named based on the debian udev rules format
#
#	Notes:
#	rules built using:
#	attributes from
#	- udevadm info -a -p $(udevadm info -q path -n /dev/*device*)
#	events and environment variables from
#	- sudo udevadm monitor --env /dev/hidraw*
#
#	Documentation on udev rules can be found here: 
#		http://reactivated.net/writing_udev_rules.html
# H-
##############################################################################

#	MIGHTEX USB devices
#
SUBSYSTEMS=="usb", ATTRS{idVendor}=="c251", ATTRS{idProduct}=="1101", MODE="0666"

